<footer class="footer bg-dark py-3 mt-auto">
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
        
        <span id="icons" >
        <a href="https://github.com/RaghavMaskara21"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/raghavmaskara/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://twitter.com/MaskaraRaghav"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com/maskararaghav/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/raghavmaskara/"><i class="fa-brands fa-instagram"></i></a>
        </span>
        <br>
        <span  class="text-muted fs-5"> &copy; Raghav Maskara - Heavenly Attractions!!!  <i class="fa-solid fa-heart" style="color: red;"></i></span>
    </div>
</footer>