.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}
body{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-size: cover;
    background-position: center;
}
#ind_head{
   color: #FE7045;
   font-family: 'Dancing Script', cursive;
   font-size: 80px;
  
    

    text-align: center;
     text-shadow: 1px 1px 2px #082b34; 
}

#icons a {
    font-size: 3em;
     color: whitesmoke; 
     padding: 0 10px; 
     text-decoration: none;
  }